# Binary output
*.exe
*.out
*.zip

# Exclude build artifacts and dependencies
node_modules/
dist/

# Exclude all .env files anywhere in the project
.env
**/.env
**/.env.*

# Go build cache
*.o
*.a
*.so

# Go module cache
vendor/

# Test output
*.test
*.prof
coverage.out

# Log files
logs/
*.log
*.txt

# macOS
.DS_Store

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo